.html{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.store a{
    text-decoration: none;
    color: black;
}
.first{
    font-size: small;
    display:flex;
    justify-content: space-evenly;
}

.first i{
    margin-top: 13px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    overflow-x: hidden;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.first i:hover{
    cursor: pointer;
}
.first p:hover{
    cursor: pointer;
} 
.buy a{
    text-decoration: none;
    border: 2px solid rgb(51, 113, 237); 
    background-color: rgb(51, 113, 237);
    border-radius: 50px; 
    margin-left: 46%;
    margin-right: 48%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 23px;
    padding-left: 23px;
}
.buy{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.header{
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: white;
}
.content-container {
    max-width: 60vw;
    height: 700px;
    margin: 0 auto;
    position: relative;
    
    .preview-containers {
        width: 440vw;
        height: 60vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: auto;

        .preview-container {
            width: 60vw;
            min-width: 60vw;
            height: 100%;
            overflow-clip-margin: content-box;
            overflow: clip;
            margin-right: 70px;
            border-radius: 30px;
            display: inline-block;

            .img-preview {
                height: 100%;
                width: 100%;
                background-position: center center;
                object-fit: cover;
            }            
        }
    }

    .preview-containers::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
      

    .btn-containers {
        margin-top: 20px;
        width: 250px;
        height: 56px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;

        .switch-btns-container {
            background-color: lightgray;
            border-radius: 40px;
            width: 168px;
            height: 100%;
            justify-content: center;
            position: relative;
            margin-right: 20px;

            .switch-btns-wrapper {
                width: 100%;
                height: 8px;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                display: flex;
                justify-content: space-evenly;

                .action-btn {
                    width: 10px;
                    height: 100%;
                    background-color: gray;
                    border-radius: 32px;

                    .progress-inside {
                        width: 10px;
                        height: 100%;
                        background-color: black;
                        border-radius: 32px;
                    }
                }

                .normal-btn {
                    width: 8px;
                    border-radius: 100%;
                }

                .playing-btn {
                    width: 48px;
                    
                }
            }
        }

        .play-btn-container {
            width: 56px;
            height: 100%;
            background-color: lightgray;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: relative;

            .play-img-container {
                width: 20px;
                height: 20px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.extend-max-width {
    min-width: 90%;
    -webkit-transition: min-width 1s ease-in-out;
    -moz-transition: min-width 1s ease-in-out;
    -o-transition: min-width 1s ease-in-out;
    transition: min-width 1s ease-in-out;
}
.highlights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hlright{
    gap: 33px;
    margin-top: 117px;
}
.image-mac img{
    height:700px;
    width: 700px;
}
.image-mac{
    margin-top: -50px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

}
.center{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.para{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin-top: -30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 70px;
}
.m3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 155px;
}
.m3 img{
    width: 150px;
    height: 150px;
}
.m3 p{
    margin-top:70px ;
}
.graphics img{
    width: 300px;
    height: 300px;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 135px;
    margin-right: 270px;
}
.secondtext{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 155px;
    margin-left: 130px;
    margin-right: 130px;
}
.short{
    background-color: grey;
    width: 130px;
    height: 0.1px;
}
.macbook-pro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}
.macbook-pro img{
    width: 190px;
    height: 100px;
    margin-top: 30px;
}
.text2{
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.applem3 img{
    width: 53px;
    height: 53px;
}
.text3{
    color:grey ;
    font-size: 17px;
}
.grey{
    border-radius: 33px;
    background-color: rgba(114, 112, 112,0.19);
    height: 737px;
    width: 1100px;
    position: absolute;
    margin-left: 70px;
    margin-top: -633px;
}
.text4{
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 33px;

}
.camera img{
     width: 30px;
     height: 30px;
}
.camera{
    margin-right:407px;
    margin-top: 170px;
    margin-left:30px ;
}
.card img{
    width: 30px;
    height: 30px;
}
.card{
    border-radius: 30px;
    background-color: white;
}
.Compare{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 130px;
    text-align: center;
}

.Compare img{
    width: 300px;
    height: 170px;
}
li{
    margin-top: 13px;
}
.end b{
    color: black;
}
.end a{
    text-decoration: none;
    color: grey;

}
.end{
    display: flex;
    flex-direction: row;
    gap: 87px;
    margin-left: 10px;
}
.end1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}